div{
    display: flex;
    position:absolute;
    align-items: center;
    left: 8%;
}

#pink{
    background-color: pink;
    height: 130px;
    width: 130px;
    border: 2px solid black;
    margin-left: 80px;
    margin-top: 100px;
}

#green{
     background-color: green;
    height: 130px;
    width: 130px;
    border: 2px solid black;
    margin-left: 300px;
    margin-top: 100px;
}

#yellow{
     background-color: yellow;
    height: 130px;
    width: 130px;
    border: 2px solid black;
    margin-left: 520px;
    margin-top: 100px;
}

#blue{
     background-color: blue;
    height: 130px;
    width: 130px;
    border: 2px solid black;
    margin-left: 740px;
    margin-top: 100px;
}

#orange{
     background-color: orange;
    height: 130px;
    width: 130px;
    border: 2px solid black;
    margin-left: 960px;
    margin-top: 100px;
}